{% extends 'base.user.html.twig' %}

{% block title %}
	Liste des années universitaire de l'option {{ licence.nom }}
{% endblock %}

{% block titre %}
	Liste des années universitaire de l'option <strong>{{ licence.nom }}</strong>
{% endblock %}

{% block description %}
	<a href="{{ path("app_user_document_option_liste", {"idDepartement": departement.id, "idFiliere": filiere.id, "idLicence": licence.id}) }}" class="btn btn-outline-primary align-items-center" title="Cliquez ici pour ajouter un annee">
		<i class="mdi mdi-reply-all  "></i>Retour
    </a>
{% endblock %}

{% block body %}
	
  <div class="card">
		<div class="card-header d-flex justify-content-between align-items-center">
			<h4 class="card-title">Liste des Années
			</h4>
			<div class="d-flex ">
      	<a href="{{ path("app_user_document_option_liste", {"idDepartement": departement.id, "idFiliere": filiere.id, "idLicence": licence.id}) }}" class="btn btn-outline-primary align-items-center" title="Cliquez ici pour ajouter un annee">
        <i class="mdi mdi-reply-all  "></i>Retour
        </a>
			</div>
		</div>
		<div class="card-body px-0 pb-0">
			<div class="table-responsive">
				<table class='table mb-0' id="table1">
					{% if annees == NULL %}
              <h5 class="text-center"><strong>Aucune année universitaire pour le moment.</strong></h5>
            {% else %}
						<thead>
							<tr>
								<th>Années</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								{% for annee in annees %}
                        <tr>
                          <td><strong>{{ annee.nom }}</strong></td>
                          <td>
                            <a href="{{ path("app_user_document_module_liste", {"idDepartement": departement.id, "idFiliere": filiere.id,"idLicence": licence.id, "idOption": option.id, "idAnnee": annee.id}) }}" class="btn btn-outline-primary">Modules</a>
                          </td>
                        </tr>
                      {% endfor %}
							</tr>
						</tbody>
					{% endif %}
				</table>
			</div>
		</div>
	</div>

{% endblock %}
