{% extends 'base.admin.html.twig' %}

{% block title %}
	liste des propositions de corrections
{% endblock %}

{% block titre %}
liste des propositions de corrections
{% endblock %}

{% block boutons %}
	{# <a href="{{ path("app_admin_departement_ajout") }}" class="btn btn-outline-primary align-items-center" title="Cliquez ici pour ajouter un departement">
		<i class="mdi mdi-arrow-all  "></i>Ajouter un departement
    </a> #}

	<a href="{{ path("app_admin_proposition") }}" title="Cliquez ici pour revenir en arrière" class="btn btn-outline-primary align-items-center">
		<i class="mdi mdi-reply-all  "></i>
	Retour</a>
{% endblock %}

{% block body %}
            
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <div class="table-responsive">
                    <table class="table table">
                      <thead>
                        <tr>
                          <th>Corrections</th>
                          <th>Filières</th>
                          <th>Dates</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% if propsCorrections == NULL %}
                      <h3>Aucune proposition pour le moment, merci de passé plus tard</h3>
                      {% else %}
                       {% for propsCorrection in propsCorrections %}
                        {% if propsCorrection.status == false %}
                        <tr>
                          <td><strong>{{ propsCorrection.module.nom }}</strong></td>
                          <td><strong>{{ propsCorrection.module.annee.optionn.licence.filiere.nom }}</strong></td>
                          <td><strong>{{ propsCorrection.dateCreation|date("d-m-y") }}</strong></td>
                          <td>
                          <a href="{{ path("app_admin_proposition_correction_detail", {"idPropsCorrection": propsCorrection.id}) }}",  class="btn btn-outline-primary">voir détail</a>
                          </td>
                        </tr>
                        {% endif %}
                      {% endfor %}
                      {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

{% endblock %}
