{% extends 'base.admin.html.twig' %}

{% block title %}
	Detail de l'etudiant {{ etudiant.nomPrenom }} 
{% endblock %}

{% block titre %}
	Detail de l'etudiant <strong>{{ etudiant.nomPrenom }}</strong>
{% endblock %}

{% block boutons %}
	<a href="{{ path("app_admin_roles_etudiant_edition", {"idEtudiant": etudiant.id}) }}" title="Cliquez ici pour editer l'etudiant" class="btn btn-info align-items-center">
			<i class="mdi mdi-arrow-all"></i>
			Editer</a>
      	<a href="{{ path("app_admin_roles_etudiant_suppression", {"idEtudiant": etudiant.id}) }}" title="Cliquez ici pour supprimer l'etudiant" onclick="return confirm('Etes vous sûr de vouloir supprimer cet etudiant ?')" class="btn btn-danger align-items-center">
			<i class="mdi mdi-arrow-all"></i>
			Supprimer</a>
      	<a href="{{ path("app_admin_roles_user_bani", {"idUser": etudiant.id}) }}" title="Cliquez ici pour banir cet utilisateur" onclick="return confirm('Etes vous sûr de vouloir banir cette utilisateur ? Il ne pourra plus accéder a son compte UNZ-DOC')" class="btn btn-warning align-items-center">
			<i class="mdi mdi-account-remove "></i>
			Banir</a>
	<a href="{{ path("app_admin_roles_etudiant_liste") }}" title="Cliquez ici pour revenir en arrière" class="btn btn-outline-primary align-items-center">
			<i class="mdi mdi-reply-all"></i>
			Retour</a>
{% endblock %}

{% block body %}

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                          <div class="card-body">
                          <h4 class="card-title"> </h4>
                            {# <h5 class="card-title">{{examen.status}}</h5> #}

                            <!-- List group With Icons -->
                            <ul class="list-group">
                              <li class="list-group-item"><i class="bi bi-star me-1 text-success"></i>Nom Prénom: {{ etudiant.nomPrenom }}</li>
                              <li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i>numéro de téléphone: {{etudiant.numero}} </li>
                              <li class="list-group-item"><i class="bi bi-check-circle me-1 text-danger"></i>Email: {{etudiant.email}}</li>
                              <li class="list-group-item"><i class="bi bi-check-circle me-1 text-danger"></i>Ine: {{etudiant.ine}}
                              <li class="list-group-item"><i class="bi bi-check-circle me-1 text-danger"></i>Mot secret: {{etudiant.motSecret}}
                              <li class="list-group-item"><i class="bi bi-check-circle me-1 text-danger"></i>promotion: {{etudiant.annee}}
                              <li class="list-group-item"><i class="bi bi-check-circle me-1 text-danger"></i>Date d'inscription: {{etudiant.dateCreation|date("j/m/y")}}
                              {% if etudiant.photo == 'rien' %}
                              <li class="list-group-item"><i class="bi bi-check-circle me-1 text-danger"></i>Image: <img src="{{ asset("doc/assets/images/imageDefaut.jpg") }}" width="100px"></li>
                              {% else %}
                              <li class="list-group-item"><i class="bi bi-check-circle me-1 text-danger"></i>Image: <img src="{{ asset("fichiers/"~etudiant.photo) }}" width="100px"></li>
                              {% endif %}
                            </ul><!-- End List group With Icons -->

                          </div>
                        </div>
					</div>
					</div>
				</div>

{% endblock %}
