{% extends 'base.admin.html.twig' %}

{% block title %}
	Liste des filières de {{ departement.nom }}
{% endblock %}

{% block titre %}
	Liste des filières de <strong>{{ departement.nom }}</strong>
{% endblock %}

{% block boutons %}
<a href="{{ path("app_admin_filiere_ajout", {"idDepartement": departement.id}) }}" class="btn btn-outline-primary align-items-center" title="Cliquez ici pour ajouter un filiere">
		<i class="mdi mdi-arrow-all  "></i>Ajouter une filière
    </a>
	<a href="{{ path("app_admin_departement_liste") }}" class="btn btn-outline-primary align-items-center" title="Cliquez ici pour ajouter un filiere">
		<i class="mdi mdi-reply-all  "></i>Retour
    </a>
{% endblock %}

{% block body %}
	
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <div class="table-responsive">
                    <table class="table table">
                      {% if filieres == NULL %}
                      <h4 class="text-center"><strong>Aucune filières pour le moment.</strong></h4>
                      {% else %}
                      <thead>
                        <tr>
                          <th>Filières</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                      
                      {% for filiere in filieres %}
                        <tr>
                          <td><strong>{{ filiere.nom }}</strong></td>
                          <td>
                            <a href="{{ path("app_admin_filiere_detail", {"idDepartement": departement.id, "idFiliere": filiere.id}) }}" class="btn btn-outline-dark">Détails</a>
                            <a href="{{ path("app_admin_licence_liste", {"idDepartement": departement.id, "idFiliere": filiere.id}) }}" class="btn btn-outline-primary">Licences</a>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                      {% endif %}

                    </table>
                  </div>
                </div>
              </div>
            </div>

{% endblock %}
