{% extends 'base.admin.html.twig' %}

{% block title %}
	Tableau de bord
{% endblock %}

{% block titre %}
	Tableau de bord
{% endblock %}

{% block boutons %}
	{# <a href="#" class="btn btn-otline-dark align-items-center">
			<i class="icon-share"></i>
			Share</a>
		<a href="#" class="btn btn-otline-dark">
			<i class="icon-printer"></i>
			Print</a>
		<a href="#" class="btn btn-primary text-white me-0">
			<i class="icon-download"></i>
			Export</a> #}
{% endblock %}

{% block body %}

                <div class="tab-content tab-content-basic">
                  <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
                    <div class="row">
                      <div class="col-sm-12">
                        {# <div class="statistics-details d-flex align-items-center justify-content-between">
                          <div>
                            <p class="statistics-title">Bounce Rate</p>
                            <h3 class="rate-percentage">32.53%</h3>
                            <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>-0.5%</span></p>
                          </div>
                          <div>
                            <p class="statistics-title">Page Views</p>
                            <h3 class="rate-percentage">7,682</h3>
                            <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span>+0.1%</span></p>
                          </div>
                          <div>
                            <p class="statistics-title">New Sessions</p>
                            <h3 class="rate-percentage">68.8</h3>
                            <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p>
                          </div>
                          <div class="d-none d-md-block">
                            <p class="statistics-title">Avg. Time on Site</p>
                            <h3 class="rate-percentage">2m:35s</h3>
                            <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.8%</span></p>
                          </div>
                          <div class="d-none d-md-block">
                            <p class="statistics-title">New Sessions</p>
                            <h3 class="rate-percentage">68.8</h3>
                            <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p>
                          </div>
                          <div class="d-none d-md-block">
                            <p class="statistics-title">Avg. Time on Site</p>
                            <h3 class="rate-percentage">2m:35s</h3>
                            <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.8%</span></p>
                          </div>
                        </div> #}
                      </div>
                    </div> 
                    <div class="row">
                      {# <div class="col-lg-8 d-flex flex-column">
                        <div class="row flex-grow">
                          <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="d-sm-flex justify-content-between align-items-start">
                                  <div class="d-flex justify-content-between align-items-center mb-2 mb-sm-0">
                                      <div class="circle-progress-width">
                                        <div id="TVisitors" class="progressbar-js-circle pr-0"></div>
                                      </div>
                                      <div>
                                        <p class="text-small mb-2">T Visitors</p>
                                        <h4 class="mb-0 fw-bold">26.80%</h4>
                                      </div>
                                  </div>
                                  <div class="d-flex justify-content-between align-items-center mb-2 mb-sm-0">
                                      <div class="circle-progress-width">
                                        <div id="visitperday" class="progressbar-js-circle pr-0"></div>
                                      </div>
                                      <div>
                                        <p class="text-small mb-2">T Visitors</p>
                                        <h4 class="mb-0 fw-bold">26.80%</h4>
                                      </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> #}
                      <div class="col-lg-12 d-flex flex-column">
                      <h2 class="card-title text-center">Récapitulatif</h2>
                        <div class="row flex-grow">

                          {# <div> #}
                          <div class="col-md-4 col-lg-3 grid-margin stretch-card">
                            <div class="card bg-primary card-rounded">
                              <div class="card-body pb-0">
                                <h4 class="card-title card-title-dash text-white mb-4">Total Supers Admins</h4>
                                <div class="row">
                                  <div class="col-sm-4">
                                    {# <p class="status-summary-ight-white mb-1">Closed Value</p> #}
                                    <h2 class="text-info">{{TSuperAdmin}}</h2>
                                  </div>
                                  <div class="col-sm-8">
                                    <div class="status-summary-chart-wrapper pb-4">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-lg-3 grid-margin stretch-card">
                            <div class="card bg-danger card-rounded">
                              <div class="card-body pb-0">
                                <h4 class="card-title card-title-dash text-white mb-4">Total Administrateurs</h4>
                                <div class="row">
                                  <div class="col-sm-4">
                                    {# <p class="status-summary-ight-white mb-1">Closed Value</p> #}
                                    <h2 class="text-white">{{TAdmin}}</h2>
                                  </div>
                                  <div class="col-sm-8">
                                    <div class="status-summary-chart-wrapper pb-4">
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-lg-3 grid-margin stretch-card">
                            <div class="card bg-dark card-rounded">
                              <div class="card-body pb-0">
                                <h4 class="card-title card-title-dash text-white mb-4">Total Editeurs</h4>
                                <div class="row">
                                  <div class="col-sm-4">
                                    {# <p class="status-summary-ight-white mb-1">Closed Value</p> #}
                                    <h2 class="text-info">{{TEditeur}}</h2>
                                  </div>
                                  <div class="col-sm-8">
                                    <div class="status-summary-chart-wrapper pb-4">
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-lg-3 grid-margin stretch-card">
                            <div class="card bg-primary card-rounded">
                              <div class="card-body pb-0">
                                <h4 class="card-title card-title-dash text-white mb-4">Total Etudiants</h4>
                                <div class="row">
                                  <div class="col-sm-4">
                                    {# <p class="status-summary-ight-white mb-1">Closed Value</p> #}
                                    <h2 class="text-info">{{TEtudiant}}</h2>
                                  </div>
                                  <div class="col-sm-8">
                                    <div class="status-summary-chart-wrapper pb-4">
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          {# </div> #}

                          {# <div> #}
                          <div class="col-md-4 col-lg-3 grid-margin stretch-card">
                            <div class="card bg-dark card-rounded">
                              <div class="card-body pb-0">
                                <h4 class="card-title card-title-dash text-white mb-4">Total Examens</h4>
                                <div class="row">
                                  <div class="col-sm-4">
                                    {# <p class="status-summary-ight-white mb-1">Closed Value</p> #}
                                    <h2 class="text-info">{{TExamens}}</h2>
                                  </div>
                                  <div class="col-sm-8">
                                    <div class="status-summary-chart-wrapper pb-4">
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-lg-3 grid-margin stretch-card">
                            <div class="card bg-success card-rounded">
                              <div class="card-body pb-0">
                                <h4 class="card-title card-title-dash text-white mb-4">Total Corrections</h4>
                                <div class="row">
                                  <div class="col-sm-4">
                                    {# <p class="status-summary-ight-white mb-1">Closed Value</p> #}
                                    <h2 class="text-white">{{TCorrections}}</h2>
                                  </div>
                                  <div class="col-sm-8">
                                    <div class="status-summary-chart-wrapper pb-4">
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-lg-3 grid-margin stretch-card">
                            <div class="card bg-dark card-rounded">
                              <div class="card-body pb-0">
                                <h4 class="card-title card-title-dash text-white mb-4">Total Propositions Corrections</h4>
                                <div class="row">
                                  <div class="col-sm-4">
                                    {# <p class="status-summary-ight-white mb-1">Closed Value</p> #}
                                    <h2 class="text-info">{{TPropoCorrections}}</h2>
                                  </div>
                                  <div class="col-sm-8">
                                    <div class="status-summary-chart-wrapper pb-4">
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-lg-3 grid-margin stretch-card">
                            <div class="card bg-danger card-rounded">
                              <div class="card-body pb-0">
                                <h4 class="card-title card-title-dash text-white mb-4">Total Propositions Examens</h4>
                                <div class="row">
                                  <div class="col-sm-4">
                                    {# <p class="status-summary-ight-white mb-1">Closed Value</p> #}
                                    <h2 class="text-white">{{TPropoExamens}}</h2>
                                  </div>
                                  <div class="col-sm-8">
                                    <div class="status-summary-chart-wrapper pb-4">
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          {# </div> #}

                          {# <div> #}
                          <div class="col-md-4 col-lg-3 grid-margin stretch-card">
                            <div class="card bg-primary card-rounded">
                              <div class="card-body pb-0">
                                <h4 class="card-title card-title-dash text-white mb-4">Total departements</h4>
                                <div class="row">
                                  <div class="col-sm-4">
                                    {# <p class="status-summary-ight-white mb-1">Closed Value</p> #}
                                    <h2 class="text-info">{{TDepartements}}</h2>
                                  </div>
                                  <div class="col-sm-8">
                                    <div class="status-summary-chart-wrapper pb-4">
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-lg-3 grid-margin stretch-card">
                            <div class="card bg-warning card-rounded">
                              <div class="card-body pb-0">
                                <h4 class="card-title card-title-dash text-dark mb-4">Total Filières</h4>
                                <div class="row">
                                  <div class="col-sm-4">
                                    {# <p class="status-summary-ight-white mb-1">Closed Value</p> #}
                                    <h2 class="text-dark">{{TFilieres}}</h2>
                                  </div>
                                  <div class="col-sm-8">
                                    <div class="status-summary-chart-wrapper pb-4">
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-lg-3 grid-margin stretch-card">
                            <div class="card bg-dark card-rounded">
                              <div class="card-body pb-0">
                                <h4 class="card-title card-title-dash text-white mb-4">Total Modules</h4>
                                <div class="row">
                                  <div class="col-sm-4">
                                    {# <p class="status-summary-ight-white mb-1">Closed Value</p> #}
                                    <h2 class="text-info">{{TModules}}</h2>
                                  </div>
                                  <div class="col-sm-8">
                                    <div class="status-summary-chart-wrapper pb-4">
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 col-lg-3 grid-margin stretch-card">
                            <div class="card bg-info card-rounded">
                              <div class="card-body pb-0">
                                <h4 class="card-title card-title-dash text-dark mb-4">Total Options</h4>
                                <div class="row">
                                  <div class="col-sm-4">
                                    {# <p class="status-summary-ight-white mb-1">Closed Value</p> #}
                                    <h2 class="text-dark">{{TOptions}}</h2>
                                  </div>
                                  <div class="col-sm-8">
                                    <div class="status-summary-chart-wrapper pb-4">
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          {# </div> #}

                          {# <div> #}
                          
                          {# </div> #}
                          

                          <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                {# <div class="row">
                                  <div class="col-sm-6">
                                    <div class="d-flex justify-content-between align-items-center mb-2 mb-sm-0">
                                      <div class="circle-progress-width">
                                        <div id="TVisitors" class="progressbar-js-circle pr-2"></div>
                                      </div>
                                      <div>
                                        <p class="text-small mb-2">T Visitors</p>
                                        <h4 class="mb-0 fw-bold">26.80%</h4>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-sm-6">
                                    <div class="d-flex justify-content-between align-items-center">
                                      <div class="circle-progress-width">
                                        <div id="visitperday" class="progressbar-js-circle pr-2"></div>
                                      </div>
                                      <div>
                                        <p class="text-small mb-2">Visits per day</p>
                                        <h4 class="mb-0 fw-bold">9065</h4>
                                      </div>
                                    </div>
                                  </div>
                                </div> #}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-8 d-flex flex-column">
                        <div class="row flex-grow">
                          <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="d-sm-flex justify-content-between align-items-start">
                                  <div>
                                  <h3 class="card-title card-title-dash">Liste des filières <a href="{{ path("app_admin_departement_liste") }}" class="btn btn-outline-dark float-right">Voir</a></h3>
                                   <p class="card-subtitle card-subtitle-dash">Listing</p>
                                  </div>
                                </div>
                                {# <div class="d-sm-flex align-items-center mt-1 justify-content-between">
                                  <div class="d-sm-flex align-items-center mt-4 justify-content-between"><h2 class="me-2 fw-bold">$36,2531.00</h2><h4 class="me-2">USD</h4><h4 class="text-success">(+1.37%)</h4></div>
                                  <div class="me-3"><div id="marketing-overview-legend"></div></div>
                                </div>
                                <div class="chartjs-bar-wrapper mt-3">
                                  <canvas id="marketingOverview"></canvas>
                                </div> #}
                                <div class="container">
                                  <div>
                                        <table id="" class="table table">
                                          <thead>
                                            <tr>
                                              <th>Filières</th>
                                              <th>Action</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                          {% for filiere in filieres %}
                                            <tr>
                                              <td><strong>{{ filiere.nom }}</strong></td>
                                              <td><a href="{{ path("app_admin_departement_liste") }}" class="btn btn-outline-dark">Aller</a></td>
                                            </tr>
                                          {% endfor %}
                                          </tbody>
                                      </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row flex-grow">
                          <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded table-darkBGImg">
                              <div class="card-body">
                                <div class="col-sm-8">
                                  <h3 class="text-white upgrade-info mb-0">
                                    Vous êtes  <span class="fw-bold">Gestionnaire</span> de UNZ-DOC
                                  </h3>
                                  {# <a href="#" class="btn btn-info upgrade-btn">Upgrade Account!</a> #}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row flex-grow">
                          <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="d-sm-flex justify-content-between align-items-start">
                                  <div>
                                    <h4 class="card-title card-title-dash">Liste des examens</h4>
                                   <p class="card-subtitle card-subtitle-dash">Listing des 10 derniers</p>
                                  </div>
                                  
                                </div>
                                <div class="table-responsive  mt-1">
                                  <table id="" class="table table">
                                          <thead>
                                            <tr>
                                              <th>Examens</th>
                                              <th>Action</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                          {% for examen in examens %}
                                            <tr>
                                              <td><strong>{{ examen.module.nom|striptags|slice(0, 7) }}-{{ examen.module.annee.nom }}</strong>  </td>
                                              <td><a href="{{ path("app_admin_examen_telecharger", {"idExamen": examen.id}) }}"><i class="menu-icon mdi mdi-format-vertical-align-bottom "></i></a></td>
                                            </tr>
                                          {% endfor %}
                                          </tbody>
                                    </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row flex-grow">
                          <div class="col-md-6 col-lg-6 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body card-rounded">
                                <h4 class="card-title  card-title-dash">Liste Corrections</h4>
                                   <p class="card-subtitle card-subtitle-dash">Listing des 10 derniers</p>
                                <table id="" class="table table">
                                          <thead>
                                            <tr>
                                              <th>Corrections</th>
                                              <th>Action</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                          {% for correction in corrections %}
                                            <tr>
                                              <td><strong>{{ correction.module.nom|striptags|slice(0, 7) }}-{{ correction.module.annee.nom }}</strong></td>
                                              <td><a href="{{ path("app_admin_correction_telecharger", {"idCorrection": correction.id}) }}" class="float-rigth"><i class="menu-icon mdi mdi-format-vertical-align-bottom "></i></a></td>
                                            </tr>
                                          {% endfor %}
                                          </tbody>
                                  </table>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 col-lg-6 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                  <h4 class="card-title card-title-dash">Props de corrections</h4>
                                </div>
                                   <p class="card-subtitle card-subtitle-dash">Listing des 10 derniers</p>
                                <ul class="bullet-line-list">
                                  <table id="" class="table table">
                                          <thead>
                                            <tr>
                                              <th>Props Corrections</th>
                                              <th>Action</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                          {% for propoCorrection in propoCorrections %}
                                            <tr>
                                              <td><strong><a href="{{ path("app_admin_proposition_correction_liste") }}" class="float-rigth" title="Aller dans la liste des propositions de corrections"> {{ propoCorrection.module.nom|striptags|slice(0, 7) }}-{{ propoCorrection.module.annee.nom }}</strong></a></td>
                                              <td><a href="{{ path("app_admin_proposition_correction_telecharger", {"idPropCorrection": propoCorrection.id}) }}" class="float-rigth"><i class="menu-icon mdi mdi-format-vertical-align-bottom "></i></strong></a></td>
                                            </tr>
                                          {% endfor %}
                                          </tbody>
                                    </table>
                                </ul>
                                <div class="list align-items-center pt-3">
                                  <div class="wrapper w-100">
                                    <p class="mb-0">
                                      {# <a href="#" class="fw-bold text-primary">Show all <i class="mdi mdi-arrow-right ms-2"></i></a> #}
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 d-flex flex-column">
                        <div class="row flex-grow">
                          <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-lg-12">
                                    <div class="d-flex justify-content-between align-items-center">
                                      <h4 class="card-title card-title-dash">Dernier messages <a href="{{ path("app_admin_message_liste") }}" class="btn btn-outline-dark">Ouvrir</a></h4>
                                      <div class="add-items d-flex mb-0">
                                        <!-- <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?"> -->
                                        <button class="add btn btn-icons btn-rounded btn-primary todo-list-add-btn text-white me-0 pl-12p"><i class="mdi mdi-plus"></i></button>
                                      </div>
                                    </div>
                                    <div class="list-wrapper">
                                      <ul class="todo-list todo-list-rounded">
                                        <table id="" class="table table">
                                          <thead>
                                            <tr>
                                              <th>Messages</th>
                                              {# <th>Action</th> #}
                                            </tr>
                                          </thead>
                                          <tbody>
                                          {% for message in messages %}
                                            <tr>
                                              <td><strong>{{ message.nomPrenom }}</strong></td>
                                              {# <td></td> #}
                                            </tr>
                                          {% endfor %}
                                          </tbody>
                                      </table>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row flex-grow">
                          {# <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-lg-12">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                      <h4 class="card-title card-title-dash">Trié par accès</h4>
                                    </div>
                                    <canvas id="users" ></canvas>
                                    <div id="doughnut-chart-legend" class="mt-5 text-center"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div> #}
                        </div>
                        <div class="row flex-grow">
                          <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-lg-12">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                      <div>
                                        <h4 class="card-title card-title-dash">Liste départements <a href="{{ path("app_admin_departement_liste") }}" class="btn btn-outline-dark">Ouvrir</a></h4>
                                      </div>
                                      <div>
                                        {# <div class="dropdown">
                                          <button class="btn btn-secondary dropdown-toggle toggle-dark btn-lg mb-0 me-0" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Month Wise </button>
                                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                            <h6 class="dropdown-header">week Wise</h6>
                                            <a class="dropdown-item" href="#">Year Wise</a>
                                          </div>
                                        </div> #}
                                      </div>
                                    </div>
                                    <div class="mt-3">
                                      <table id="" class="table table">
                                          <thead>
                                            <tr>
                                              {# <th>Départements</th> #}
                                            </tr>
                                          </thead>
                                          <tbody>
                                          {% for departement in departements %}
                                            <tr>
                                              <td><strong>{{ departement.nom }}</strong></td>
                                            </tr>
                                          {% endfor %}
                                          </tbody>
                                    </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row flex-grow">
                          <div class="col-12 grid-margin stretch-card">
                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-lg-12">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                      <div>
                                        <h4 class="card-title card-title-dash">Props examens</h4>
                                   <p class="card-subtitle card-subtitle-dash">Listing des 10 derniers</p>
                                      </div>
                                    </div>
                                    <div class="mt-3">
                                      <table id="" class="table table">
                                          <thead>
                                            <tr>
                                              <th>Props Examens</th>
                                              <th>Action</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                          {% for propoExamen in propoExamens %}
                                            <tr>
                                              <td><a href="{{ path("app_admin_proposition_examen_liste") }}" title="Aller dans la liste des propositions d'examens"><strong>{{ propoExamen.module.nom|striptags|slice(0, 7) }}-{{ propoExamen.module.annee.nom }}</strong></a></td>
                                              <td><a href="{{ path("app_admin_proposition_examen_telecharger", {"idPropExamen": propoExamen.id}) }}" class="float-rigth"><i class="menu-icon mdi mdi-format-vertical-align-bottom "></i></a></td>
                                            </tr>
                                          {% endfor %}
                                          </tbody>
                                    </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#example').DataTable();

			// charts
			const ctx = document.getElementById('users').getContext('2d');

			const myChart = new Chart(ctx, {
				type: 'doughnut',
				data: {
					labels: [
            Etudiants,
            Editeurs,
            Admins,
            Super Admin
					],
					datasets: [{
						label: 'My First Dataset',
						data: [
              {{ TEtudiant }},
              {{ TEditeur }},
              {{ TAdmin }},
              {{ TSuperAdmin }},
            ],
						backgroundColor: [
							'rgb(255, 99, 132)',
							'rgb(54, 162, 235)',
							'rgb(255, 205, 86)',
							'rgb(200, 205, 86)'
						],
						hoverOffset: 4
					}]
				}
			});

		});
	</script>
{% endblock %}