{% extends 'base.admin.html.twig' %}

{% block title %}
	Liste des options de la licence {{ licence.nom }}
{% endblock %}

{% block titre %}
	Liste des options de la licence <strong>{{ licence.nom }}</strong>
{% endblock %}

{% block boutons %}
<a href="{{ path("app_admin_option_ajout", {"idDepartement": departement.id, "idFiliere": filiere.id, "idLicence": licence.id}) }}" class="btn btn-outline-primary align-items-center" title="Cliquez ici pour ajouter un option">
		<i class="mdi mdi-arrow-all  "></i>Ajouter une option
    </a>
	<a href="{{ path("app_admin_licence_liste", {"idDepartement": departement.id, "idFiliere": filiere.id}) }}" class="btn btn-outline-primary align-items-center" title="Cliquez ici pour ajouter un option">
		<i class="mdi mdi-reply-all  "></i>Retour
    </a>
{% endblock %}

{% block body %}
	
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <div class="table-responsive">
                  {% if options == NULL %}
                    <h3 class="text-center"><strong>Aucune option pour le moment.</strong></h3>
                  {% else %}
                  <table class="table table">
                      <thead>
                        <tr>
                          <th>Options</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for option in options %}
                         <tr>
                          <td><strong>{{ option.nom }}</strong></td>
                          <td>
                            <a href="{{ path("app_admin_option_detail", {"idDepartement": departement.id, "idFiliere": filiere.id, "idLicence": licence.id, "idOption": option.id}) }}" title="Cliquez ici pour voir les détails cette option" class="btn btn-outline-dark">Détails</a>
                            <a href="{{ path("app_admin_annee_liste", {"idDepartement": departement.id, "idFiliere": filiere.id, "idLicence": licence.id, "idOption": option.id}) }}" class="btn btn-outline-primary">Année universitaire</a>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                  {% endif %}
                    </table>
                  </div>
                </div>
              </div>
            </div>

{% endblock %}
